
h1.
	Продаются смежные участки
div( class="row" )
	hr
	div( class="filler" )
		div( class="col" )

			p.
				Hасположены на территории садового общества "Рассвет".
			p.
				Три смежных участка
			ol
				li
					p 5 сот., строительство, 1 000 000 р.
					p.
						Участок пригодный для строительства,
						уже имеется фундамент на территории. Новый забор, отсыпан подъезд.
				li
					p 8 сот., земледелие, 650 000 р.
					p.
						Крупный участок для садоводства, на территории растет яблоня,
						вишневый сад. Частично отсыпан подъезд на территорию.
				li
					p 4.6 сот., земледелие, 250 000 р.
					p.
						Хороший участок для садоводства, на территории
						растет большая яблоня. Подъезд отсутствует.
			p.
				торг уместен

hr
div( class="row" )
	div( id="map" , class="map" )